*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ds{
    margin: 30px 40% 40%;
    box-shadow: 10px 0.5px 10px rgb(0, 0, 0);
    background-color: brown; 
}
div{
    margin-top: 25px;
}
.p1{
    color:#ffffff;  
    text-align: center;
    
}
p{
    padding: 10px 15px 15px;
    box-shadow: 1px, 0.5 px, 1px, rgb(0, 0, 0);
    text-align: center;
    
}
body{
    
    background: url(1111.webp)
}
.square{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid black;
    text-align: center;
}
